body {
    font-family: Arial, sans-serif;
    text-align: center;
}

img {
    max-width: 200px;
}

.profile {
    margin: 20px;
}

a {
  
background-color: #000;
        border: .5px solid crimson;
        border-radius: 10px;
        color: #fff;
        padding: 8px; box-shadow: 0 0 30px 0 crimson,
                    0 0 30px 0 crimson,
                    0 0 10px 0 crimson inset;
  
}